.list-content ul {
  margin-bottom: 20px
}

.list-group-mine .list-group-item {
  background-color: #e9ebee;
  color: #111c26;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 10px;
}
.list-group-mine .list-group-item:hover {
  background-color: white;
}
